{% extends "base.html.twig" %}

{% block title 'Accueil' %}

{% block body %}


	<!-- home section starts  -->

	<section class="home" id="home">

		<div class="content">
			<h3>Cuisine faite avec amour et passion!</h3>
			<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas accusamus tempore temporibus rem amet laudantium animi optio voluptatum. Natus obcaecati unde porro nostrum ipsam itaque impedit incidunt rem quisquam eos!</p>
			<a href="#card_menu" class="btn">Commander</a>
		</div>

		<div class="image">
			<img src="{{ asset('build/images/carlondon.png') }}" alt="car">
		</div>

	</section>

	<!-- home section ends -->

	<!-- section carte achat start -->

	<section class="menu" id="card_menu">
		<div class="menu-container">
			<div class="menu-head">
				<h1 class="heading">
					Nos
					<span>Plats !</span>
				</h1>
				<p>Vous trouverez ci dessous nos différents plats classés en différentes catégories !</p>
			</div>

			<div class="menu-btns">
				{% for categorie in category %}
					<h3 class="heading">{{ categorie.name }}</h3>
					{% for product in products %}
						{% for option in product.category %}


							{% if option.name == categorie.name %}
								<div
									class="food-items">

									<!-- item hamburger-->

									<div class="food-item hamburger">
										<div class="food-img">
											<img src="{{product.filename}}" alt="food image">
										</div>
										<div class="food-content">
											<h2 class="food-name">{{ product.name }}</h2>
											<div class="line"></div>
											<h3 class="food-price">{{ product.price }}
												€</h3>
											<p class="category">Ingrédients:
												<span>{{ product.ingredient }}</span>
											</p>
											<a class="btn add-cart cart1">commander</a>
										</div>
									</div>
								{% endif %}
							{% endfor %}
						{% endfor %}
						<!-- end of item -->
					</div>
				{% endfor %}


			</div>
		</div>
	</section>


	<!-- section carte achat end -->

	<!-- steps section starts  -->

	<div class="step-container">

		<h1 class="heading">le
			<span>fonctionnement</span>
		</h1>

				</section>

			</div>

		</section>

	</div>


</section>

<!-- review section ends -->

<!-- scroll top button  -->
<a href="#home" class="fas fa-angle-up" id="scroll-top"></a>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script></body>{% endblock %}
