{% extends "base.html.twig" %}
{% block title 'product' %}

{% block body %}
	<section class="page_profils">
		<div class="border">
			<div class="profil_title">
				<h1 class="heading">Gérer les produits :</h1>
			</div>
			<table>
				<thead>
					<tr>
						<th>Produit</th>
						<th>Prix</th>
						<th>Categorie</th>
						<th>Ingrédients</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for product in products %}
						<tr>
							<td>{{ product.name }}</td>
							<td>{{ product.price }}</td>
							<td>
								{% for categorie in product.category %}
									{{ categorie.name }}
								{% endfor %}
							</td>
							<td>{{ product.ingredient }}</td>
							<td class="bouton">
								<a href="{{ path('admin_edit_product', {id: product.id}) }}" class="btn">Editer</a>
								<form method="post" action="{{ path('admin_delete_product', {id: product.id}) }}">
									<input type="hidden" name="_method" value="DELETE">
									<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
									<button class="btn">Supprimer</button>
								</form>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<div class="text-right">
				<a href="{{ path('admin_new_product') }}" class="btn creer_produit">Créer un produit</a>
			</div>
		</diV>
	</section>
{% endblock %}
